* {
	box-sizing: border-box;
}

html {
	min-height: 100vh;
}

body {
	margin: 0;
	background-color: #85ffbd;
	background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}

/* .original-gradient {
	height: 100vh;
	width: 100%;
	background-image: repeating-linear-gradient(
		90deg,
		rgba(255, 246, 222, 1) 4% 8%,
		rgba(255, 179, 15, 1) 8% 16%
	);
} */

.page-title {
	font-family: 'Rubik Iso', cursive;
	font-size: 6em;
	font-weight: bold;
	text-align: center;
	color: violet;
}

.game-container {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
	margin: 50px;
	justify-content: center;
	/* perspective: 500px; */
}
/* section {
	display: grid;
	grid-template-rows: repeat(4, 8rem);
	grid-template-columns: repeat(4, 8rem);
	grid-gap: 2rem;
	/* perspective: 800px; */
} */

.game-info-container {
	grid-column: 1 / -1;
	display: flex;
	justify-content: space-between;
}

.game-info {
	font-family: 'Rampart One', cursive;
	font-size: 3em;
	color: #0000aa;
}

.card {
	background-color: #FFFF11;
	height: 175px;
	width: 125px;
}
