* {
	box-sizing: border-box;
}

html {
	min-height: 100vh;
	cursor: url('../Assets/Cursor/footprintCur.png'), auto;
}

body {
	margin: 0;
	background-image: url('../Assets/Images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.overlay-text {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	z-index: 100;
	font-family: 'Rubik Iso', cursive;
	color: #fff;
}

.overlay-text.visible {
	display: flex;
	flex-direction: column;
	animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
	from {
		background-color: rgba(0, 0, 0, 0);
		font-size: 0;
	}
	to {
		background-color: rgba(0, 0, 0, 0.8);
		font-size: 5em;
	}
}

.icon-container {
	margin-top: 15px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 50px;
}

.dog-icon {
	color: orange;
}

.overlay-text-small {
	margin-top: 10px;
	font-size: 0.4em;
	font-family: 'Rampart One', cursive;
}

.page-title {
	font-family: 'Rubik Iso', cursive;
	font-size: 6em;
	font-weight: bold;
	text-align: center;
	color: #ff6600;
	margin-top: 40px;
	margin-bottom: 20px;
}

.game-container {
	display: flex;
	margin: 40px 40px 100px 40px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	perspective: 500px;
}

.game-info-container {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 50px;
	margin-bottom: 30px;
}

.game-info {
	font-family: 'Press Start 2P', cursive;
	font-size: 2em;
	color: #000099;
}

/* For cards */
section {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 10px;
}

.card {
	position: relative;
	height: 180px;
	width: 130px;
}

.card.visible .card-back {
	transform: rotateY(-180deg);
}

.card.visible .card-front {
	transform: rotateY(0deg);
}

.card.matched .card-value {
	animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
	0%,
	100% {
		transform: rotate(0);
	}
	25% {
		transform: rotate(-30deg);
	}
	75% {
		transform: rotate(30deg);
	}
}

/* Make orage white stripe */
.card-back {
	background-image: repeating-linear-gradient(
		90deg,
		rgba(255, 246, 222, 1) 2% 8%,
		rgba(255, 179, 15, 1) 8% 17%
	);
	border-color: rgba(255, 179, 15, 1);
}

.card-face {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	border-radius: 10px;
	box-shadow: 3px 3px 2px black;
	border-width: 8px;
	border-style: solid;
	transition: transform 500ms ease-in-out;
}

.card-backImg {
	align-self: center;
	transform: scale(0.9);
	transition: transform 100ms ease-in-out;
}

.card-back:hover .card-backImg {
	transform: scale(0.6);
	animation: dance 1s linear infinite 500ms;
}

/* Make light orage white stripe front face*/
.card-front {
	background: #fff;
	background-image: repeating-linear-gradient(
		90deg,
		rgba(255, 255, 255, 0) 4%,
		rgba(255, 246, 222, 0.34) 8%,
		rgba(255, 179, 15, 0.34) 8% 17%
	);
	border-color: rgba(255, 179, 15, 1);
	border-width: 8px;
	border-style: solid;
	transform: rotateY(180deg);
}

.card-value {
	transition: transform 100ms ease-in-out;
	transform: scale(1);
	width: 90%;
}

.card-front:hover .card-value {
	transform: scale(0.7);
}

@media screen and (max-width: 768px) {
	.page-title {
		font-size: 5rem;
	}
}

@media screen and (max-width: 683px) {
	@keyframes overlay-grow {
		from {
			background-color: rgba(0, 0, 0, 0);
			font-size: 0;
		}
		to {
			background-color: rgba(0, 0, 0, 0.8);
			font-size: 2.5em;
		}
	}

	.game-container {
		margin: 40px 0;
	}

	.page-title {
		font-size: 3.5rem;
	}

	.card {
		height: 130px;
		width: 85px;
	}

	section {
		grid-gap: 8px;
	}

	.card-backImg {
		width: 70%;
	}

	.game-info-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		grid-gap: 10px;
	}

	.game-info {
		font-size: 1.5rem;
	}
}
